@media screen and (min-width : 480px) {
	.nav-link {
		margin: 2px;
		color: #1DBF73;
		display: inline;
		font-size: 0.8em;
	}
	.active {
		display: none !important;
	}
}
@media screen and (min-width : 750px) {
	#Mnav {
		display: none;
	}
	#Dnav {
		display: block;
		padding-bottom: 1rem; 
	}
	.padding {
		padding: 2% 7%;
	}
	.nav-link {
		margin: 0;
	}
}
@media screen and (min-width: 768px) {
	.accordion {
		box-shadow: none !important;
	}
	footer {
		text-align: left;
	}
	#footer {
		text-align: left;
	}
	.f_content {
		padding: 0;
	}
}
@media screen and (min-width: 986px) {
	.searchbutton {
	    margin-left: -11%;
	    width: 10%;
	    border: none;
	    background: #1DBF73;
	    padding: 2%;
	    color: white;
	    transition: all .3s ease-in-out;
	}
}